<div style="background-color: #2c3e50;color: #fff; border-radius: 10px; padding: 20px; width: 80%; max-width: 400px; margin: 0 auto; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
    <p style="font-size: 20px;color: #fff; text-align: left; margin: 20px 0;">亲爱的 [username]</p>
    <p style="font-size: 16px;color: #fff; line-height: 1.5; text-align: left;">我们很高兴通知你，你的注册已成功完成。现在，你可以开始尽情享受我们的应用了。</p>
    <p style="font-size: 16px;color: #fff; line-height: 1.5; text-align: left;">祝你愉快的使用体验！</p>
    <p style="font-size: 16px;color: #fff; line-height: 1.5; text-align: left;">最诚挚的问候。</p>
    <p style="margin-top: 20px;color: #fff; font-style: italic;text-align: left;">起飞咯！
</div>