# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea

# Test binary, built with `go test -c`
local_test
/log
*.log

runtime

docker/*
!docker/docker-compose.yaml
!docker/Dockerfile
!docker/redis.conf
!docker/Dockerfile.debug

production_config.yaml