# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea

# Test binary, built with `go test -c`
local_test
/log
*.log

runtime

docker/*
!docker/redis.conf
!mysql.cnf

!docker/Dockerfile
!docker/Dockerfile.build
!docker/Dockerfile.debug
!docker/Dockerfile.test

production_config.yaml